{{define "waitingroom" -}}
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Card Games</title>
  <link rel="stylesheet" href="{{.AssetsPrefix}}/style.css">
  <meta name="theme-color" content="#fafafa">
  <link rel="shortcut icon" href="{{.FaviconPath}}/favicon.ico">
  <script src="https://kit.fontawesome.com/692d0a4337.js" crossorigin="anonymous"></script>
</head>

<body>
  <main id="main">
    <h1>Game Lobbies</h1>
    <div id="lobbies-container">
      <table>
        <tbody id="lobbies-table"></tbody>
      </table>
    </div>
    <button id="new">New Lobby</button>
    <button id="refresh">Refresh Lobbies</button>
  </main>
  <script id="json-data" type="application/json">{
    "base_path": "{{.BasePath}}"
  }</script>
  <script src="{{.AssetsPrefix}}/waitingroom.js"></script>
</body>

</html>
{{- end}}